<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="integer.success.test" value="12"/>    
    <add key="integer.fail.test" value="fail"/>    

    <add key="decimal.success.test" value="12.02"/>    
    <add key="decimal.fail.test" value="fail"/>    

    <add key="integer.array.success.test" value="12,13,14"/>    
    <add key="integer.array.fail.test" value="fail|no good|won't work"/>    

</appSettings>
</configuration>